{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
                <!-- Empty column -->
        </div>
        <div class="col-md-4">
            <h2 class="text-center"><b style="color: rosybrown;"><i><u>Login Form</u></i></b></h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }} <br>
                    {{ form.username(size=32) }} <br>
                    {% for error in form.username.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }} <br>
                    {{ form.password(size=32) }} <br>
                    {% for error in form.password.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.remember_me() }} 
                    {{ form.remember_me.label }}
                </p>
                <p>{{ form.submit }}</p>

                <!-- New Here? Register link -->
                <p class="text-center">
                    New here? <a href="{{ url_for('register') }}">Register</a>
                </p>

            </form>
        </div>
        <div class="col-md-4">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}