{% extends "base.html" %}

{% block content %}
<!-- Profile info -->
<div class="row">
    <div class="col-md-5 text-center">
        <p><img src="{{ user.avatar(120) }}" alt="User Avatar" class="img-thumbnail"></p>
    </div>
    <div class="col-md-7">
        <p><strong>Username: </strong> {{ user.username }}</p>
        <p><strong>Email: </strong> {{ user.email }}</p>
        {% if user.last_seen %}
        <p><strong>Last Seen: </strong> {{ user.last_seen }}</p>
        {% endif %}
        {% if user.about_me %}
        <p><strong>About Me: </strong> {{ user.about_me }}</p>
        {% endif %}
        <p><a href="{{ url_for('edit_profile') }}">Edit Profile</a></p>
    </div>
</div>
<hr>

<!-- Comment form -->
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <form action="{{ url_for('profile', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.body.label }}
                {{ form.body(class="form-control", rows="3") }}
            </div>
            <div class="form-group mt-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
<hr>
{% else %}
<div class="row">
    <div class="col-md-12 text-center">
        <p><a href="{{ url_for('login') }}">Login to post a comment</a></p>
    </div>
</div>
<hr>
{% endif %}
{% endblock %}