{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
                <!-- Empty column -->
        </div>
        <div class="col-md-4">
            <div style="display:inline-flex;align-items:center;gap:20px;">
                <div style="width:100px;height:100px;border-radius:50%;background:rosybrown;display:flex;align-items:center;justify-content:center;">
                    <span style="font-size:60px;color:#fbf3f3;">P</span>
                </div>
                <span style="font-size:60px;color:rosybrown;">Profile</span>
            </div>
            <h1 class="text-center"><b style="color: rosybrown;"><i><u>Register Form</u></i></b></h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }} <br>
                    {{ form.username(size=32) }} <br>
                    {% for error in form.username.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }} <br>
                    {{ form.email(size=32) }} <br>
                    {% for error in form.email.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }} <br>
                    {{ form.password(size=32) }} <br>
                    {% for error in form.password.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }} <br>
                    {{ form.confirm_password(size=32) }} <br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>{{ form.submit }}</p>
            </form>
        </div>
        <div class="col-md-4">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}